*{
    margin: 0;
}
body{
    width:100%;
    background-color: rgb(30, 30, 30);
}
nav{
    width:100%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    height: 50px;
    color:white;
    background-image: linear-gradient(to right,#8cb0c9,#2c3e50);
}

button{
    background-color: white;
    outline: none;
    border: none;
    width:100px;
    padding-top:5px;
    padding-bottom:5px;
    border-radius: 10px;
}

ul{
    display: flex;
    width: 40vw;
    justify-content: space-around;
    align-items: center;
    height:inherit;
}

li{
    list-style: none;
}